<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="
          border:solid red 1px;
          margin:10rem
          ">
        <th >
        <td>Receipt Type</td>
        <td>Transaction </td>
        <td>Receipt Number</td>
        <td>Date</td>
        <td>Receipt File</td>
        </th>
         {%for receipt in receipts%}
         <tr >
        <td> {{receipt.receipt_type}}</td>
        <td> {{receipt.transaction}}</td>
        <td> {{receipt.receipt_number}}</td>
        <td> {{receipt.date}}</td>
        <td> {{receipt.receipt_file}}</td>         </tr>
    {% endfor %}
    </table>
</body>
</html>