<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="
          border:solid red 1px;
          margin:10rem
          ">
        <th >
        <td>Wallet</td>
        <td>Transaction Amount</td>
        <td>Transaction Description</td>
        <td>Message</td>
        <td>Transaction Charge</td>
        <td>Transaction Type</td>
        <td>Origin Account</td>
        <td>Destination Account</td>
        </th>
         {%for transaction in transactions%}
         <tr >
        <td> {{transaction.wallet}}</td>
        <td> {{transaction.transaction_amount}}</td>
        <td> {{transaction.transaction_description}}</td>
        <td> {{transaction.message}}</td>
        <td> {{transaction.transaction_charge}}</td>
        <td> {{transaction.transaction_type}}</td>
        <td> {{transaction.origin_account}}</td>
        <td> {{transaction.destination_account}}</td>
         </tr>
    {% endfor %}
    </table>
</body>
</html>